<div class="container">
  <div class="site-section reset-padding align-items-center justify-content-center">
    <h1 class="display-4 fw-bold text-center">Общая статистика по заболеваниям</h1>
    <div class="row">
      <div class="col-lg-4 mt-2">
        <div class="text-center">
          <img src="/assets/images/main/coronavirus.png" alt="covid">
          <strong class="d-block number">{{global.totalConfirmed}}</strong>
          <span class="label">Подтвержденных случаев</span>
        </div>
      </div>
      <div class="col-lg-4 mt-2">
        <div class="text-center">
          <img src="/assets/images/main/death.png" alt="covid">
          <strong class="d-block number">{{global.totalDeaths}}</strong>
          <span class="label">Смертей</span>
        </div>
      </div>
      <div class="col-lg-4 mt-2">
        <div class="text-center">
          <img src="/assets/images/main/infected.png" alt="covid">
          <strong class="d-block number">{{global.newConfirmed}}</strong>
          <span class="label">Новых заражений</span>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="container">
  <div class="input-group mb-3">
    <label class="input-group-text" for="inputGroupSelect01">Страна</label>
    <select #countrySelect class="form-select" id="inputGroupSelect01">
      <option selected>Выбрать страну...</option>
      <option *ngFor="let country of countries" [value]="country.iso2">{{country.country}}</option>
    </select>
    <label class="input-group-text" for="inputGroupSelect02">Начальная дата анализа</label>
    <input #dateSelect id="inputGroupSelect02" type="date" class="form-control" aria-label="Text input with segmented dropdown button">
    <a (click)="submitSearchCovidData()" type="button" class="btn btn-primary">Поиск</a>
  </div>

  <ng-container id="placeholder" #placeholder></ng-container>
</div>
