<div class="container">
  <div class="row flex-lg-row-reverse align-items-center g-5 py-5">
    <div class="col-10 col-sm-8 col-lg-6">
      <img src="/assets/images/symptoms/symptoms.png" class="d-block mx-lg-auto img-fluid" alt="Car">
    </div>
    <div class="col-lg-6">
      <h1 class="display-5 fw-bold lh-1 mb-3">Симптомы</h1>
      <p class="lead">Первые признаки коронавируса проявляются после завершения инкубационного периода. Его срок зависит
        от дозы полученного вируса после контакта с носителем и состояния иммунной системы. Понять, что человек заболел,
        можно по ранним симптомам ковида, которые во всех возрастных группах проявляются по-разному.</p>
      <div class="d-grid gap-2 d-md-flex justify-content-md-start">
        <a href="#symptomss" class="btn btn-primary btn-lg px-4 me-md-2">Показать симптомы</a>
        <a href="#prev" class="btn btn-outline-secondary btn-lg px-4">Профилактика</a>
      </div>
    </div>
  </div>
</div>
<div class="site-section bg-primary-light">
  <div class="container">
    <div class="row mb-5">
      <div class="col-lg-7 mx-auto text-center">
        <h2 id="symptomss" class="mb-4 display-4">Симптомы коронавируса</h2>
        <p class="lead">Каждому виду инфекции требуется определенное время, чтобы закрепиться в организме. После этого
          заразные
          клетки начинают размножаться и распространяться в теле человека через кровь, воздействуя на жизненно важные
          органы.</p>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-6 mb-4">
        <div class="symptom d-flex">
          <div class="img">
            <img src="assets/images/symptoms/symptom_high-fever.png" alt="Image" class="img-fluid">
          </div>
          <div class="text">
            <h3>Высокая температура</h3>
            <p>Высокая температура тела — это нарушение терморегуляции, при котором температура поднимается свыше 37°C. Симптом сопровождается головными болями, ломотой в мышцах, резкой слабостью, недомоганием.</p>
          </div>
        </div>
      </div>
      <div class="col-lg-6 mb-4">
        <div class="symptom d-flex">
          <div class="img">
            <img src="assets/images/symptoms/symptom_cough.png" alt="Image" class="img-fluid">
          </div>
          <div class="text">
            <h3>Кашель</h3>
            <p>Чаще кашель возникает на фоне других симптомов поражения дыхательной системы: болей в горле, груди, заложенности носа. При вовлечении голосового аппарата симптом сочетается с охриплостью голоса вплоть до афонии.</p>
          </div>
        </div>
      </div>
      <div class="col-lg-6 mb-4">
        <div class="symptom d-flex">
          <div class="img">
            <img src="assets/images/symptoms/symptom_sore-troath.png" alt="Image" class="img-fluid">
          </div>
          <div class="text">
            <h3>Боль в горле</h3>
            <p>Боль в горле — явление, с которым сталкивался каждый человек: неприятные ощущения в виде першения, тупой или режущей боли, затруднения при глотании доставляли и доставляют немало неприятностей многим людям.</p>
          </div>
        </div>
      </div>

      <div class="col-lg-6 mb-4">
        <div class="symptom d-flex">
          <div class="img">
            <img src="assets/images/symptoms/symptom_headache.png" alt="Image" class="img-fluid">
          </div>
          <div class="text">
            <h3>Головная боль</h3>
            <p>Головная боль – это неспецифические болевые ощущения, которые локализуются в области виска, глаз, переносицы, задней части шеи. Они могут быть тупыми и острыми, сверлящими, пульсирующими и сдавливающими, могут возникать как реакция на свет, шумы, резкие звуки или любой другой раздражитель.</p>
          </div>
        </div>
      </div>
    </div>
    <div class="row text-center">
      <div class="text-center mb-4"><strong>Оставайтесь дома и вызовите врача:</strong> Ни в коем случае не занимайтесь
        самолечением!
      </div>
    </div>
  </div>
  <div class="site-section">
    <div class="container">
      <div class="row mb-5">
        <div class="col-lg-7 mx-auto text-center">
          <span id="prev" class="subheading">Вот что вы должны сделать</span>
          <h2 class="mb-4 section-heading">Как защитить себя от Вируса</h2>
          <p class="lead">Протирайте санитайзерами упаковки продуктов, принесенные из магазина, чаще проветривайте жилые помещения. Применяйте дезинфекторы при влажной уборке, обрабатывайте потенциально опасные поверхности, где могут скапливаться вирусы (ручки дверей, краны, выключатели).</p>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-6 ">
          <div class="row mt-5 pt-5">
            <div class="col-lg-6 do ">
              <h3>Делайте</h3>
              <ul class="list-unstyled check">
                <li>Оставайтесь дома</li>
                <li>Носите маску</li>
                <li>Используйте санитайзер</li>
                <li>Дизенфицируйте свой дом</li>
                <li>Мойти руки</li>
                <li>Изолируйтесь от внешнего мира</li>
              </ul>
            </div>
            <div class="col-lg-6 dont ">
              <h3>Избегайте</h3>
              <ul class="list-unstyled cross">
                <li>Зараженных людей</li>
                <li>Не приблежайтесь к животным</li>
                <li>Не здоровойтесь за руки</li>
                <li>Избегайте многолюдных мест</li>
                <li>Не трогайте глаза руками</li>
                <li>Избегайте зараженных жидкостей</li>
              </ul>
            </div>
          </div>
        </div>
        <div class="col-lg-6">
          <img src="assets/images/symptoms/protect.png" alt="Image" class="img-fluid">
        </div>
      </div>
    </div>
  </div>
</div>
