<div class="container">
<div class="row flex-lg-row-reverse align-items-center g-5 py-5">
  <div class="col-10 col-sm-8 col-lg-6">
    <img src="/assets/images/main/illustration.png" class="d-block mx-lg-auto img-fluid" alt="Car">
  </div>
  <div class="col-lg-6">
    <h1 class="display-5 fw-bold lh-1 mb-3">Оставайтесь в безопасности.</h1>
    <p class="lead">При любом недомогании лучше всего остаться дома, потому что вы можете заразить окружающих, а ваш иммунитет ослаблен и вы подвержены другим заболеваниям. Не пренебрегайте здоровьем и не занимайтесь самолечением!</p>
    <div class="d-grid gap-2 d-md-flex justify-content-md-start">
      <button type="button" class="btn btn-primary btn-lg px-4 me-md-2">Узнать подробнее</button>
      <button type="button" class="btn btn-outline-secondary btn-lg px-4">Свяжитесь со мной</button>
    </div>
  </div>
</div>
<div class="px-4 pt-5 my-5 text-center">
  <h1 class="display-4 fw-bold">Почему коронавирус опасен?</h1>
  <div class="col-lg-10 mx-auto">
    <p class="lead mb-4">Ковид 19, проникая в организм, вызывает эндотелиальную дисфункцию и оксидативный стресс. В результате чего образуется большое количество свободных радикалов, которые поражают различные органы и системы. Не только бронхолегочную систему, но и сердечно-сосудистую, центральную и периферическую нервную систему, желудочно-кишечный тракт и т.д. Опасен коронавирус тем, что может привести к так называемому цитокиновому шторму.</p>
  </div>
  <div class="row">
    <div class="col-lg-4 mt-2">
      <div class="text-center">
        <img src="/assets/images/main/coronavirus.png" alt="covid">
        <strong class="d-block number">{{global.totalConfirmed}}</strong>
        <span class="label">Подтвержденных случаев</span>
      </div>
    </div>
    <div class="col-lg-4 mt-2">
      <div class="text-center">
        <img src="/assets/images/main/death.png" alt="covid">
        <strong class="d-block number">{{global.totalDeaths}}</strong>
        <span class="label">Смертей</span>
      </div>
    </div>
    <div class="col-lg-4 mt-2">
      <div class="text-center">
        <img src="/assets/images/main/infected.png" alt="covid">
        <strong class="d-block number">{{global.newConfirmed}}</strong>
        <span class="label">Новых заражений</span>
      </div>
    </div>
  </div>
</div>
<div class="px-4 pt-5 my-5">
  <div class="row">
    <div class="col-lg-6 mb-4 mb-lg-0">
      <figure class="img-play-vid">
        <img src="/assets/images/main/hero_1.jpg" alt="Image" class="img-fluid">
        <div class="absolute-block d-flex">
          <span class="text">Смотреть видео</span>
          <a href="https://www.youtube.com/watch?v=D9tTi-CDjDU" data-fancybox="" class="btn-play">
            <img src="assets/images/main/youtube.png" class="icon-play" alt="play">
          </a>
        </div>
      </figure>
    </div>
    <div class="col-lg-5 ml-auto">
      <h2 class="mb-4 display-6">Коронавирусы — семейство РНК-содержащих вирусов, включающее на май 2020 года 43 вида, объединённых в два подсемейства.</h2>
      <p class="text-muted">Коронавирусы вызывают заболевания млекопитающих (людей, летучих мышей, кошек, собак, свиней, крупного рогатого скота) и птиц.</p>
    </div>
  </div>
</div>
<div class="container pb-5">
  <div class="row">
    <div class="col-lg-3">
      <div class="feature-v1 d-flex align-items-center">
        <div class="icon-wrap mr-3">
          <img class="img-fluid mx-2" src="/assets/images/main/protection.png" alt="protection">
        </div>
        <div>
          <h3>Защита</h3>
          <span class="d-block">Сделайте вакцину</span>
        </div>
      </div>
    </div>
    <div class="col-lg-3">
      <div class="feature-v1 d-flex align-items-center">
        <div class="icon-wrap mr-3">
          <img class="img-fluid mx-2" src="/assets/images/main/prevention.png" alt="protection">
        </div>
        <div>
          <h3>Профилактика</h3>
          <span class="d-block">Чаще мойте руки</span>
        </div>
      </div>
    </div>
    <div class="col-lg-3">
      <div class="feature-v1 d-flex align-items-center">
        <div class="icon-wrap mr-3">
          <img class="img-fluid mx-2" src="/assets/images/main/treatments.png" alt="protection">
        </div>
        <div>
          <h3>Лечение</h3>
          <span class="d-block">Обратитесь за помощью</span>
        </div>
      </div>
    </div>
    <div class="col-lg-3">
      <div class="feature-v1 d-flex align-items-center">
        <div class="icon-wrap mr-3">
          <img class="img-fluid mx-2" src="/assets/images/main/cough.png" alt="protection">
        </div>
        <div>
          <h3>Симптомы</h3>
          <span class="d-block">Обратите внимание на симптомы</span>
        </div>
      </div>
    </div>
  </div>
</div>
</div>
