<div class="container">
  <header
    class="d-flex flex-wrap align-items-center justify-content-center justify-content-md-between py-3 mb-4 border-bottom">
    <a href="/" class="d-flex align-items-center col-md-3 mb-2 mb-md-0 text-dark text-decoration-none">
      <img class="bi me-2 h-3 w-3" src="assets/images/main/virus.png" alt="virus">
    </a>

    <ul class="nav col-12 col-md-auto mb-2 justify-content-center mb-md-0">
      <li><a href="#" id="main" #main (click)="onMenuLinkClicked(main.id)" class="nav-link px-2 link-secondary">Главная</a></li>
      <li><a href="#" id="symptoms" #symptoms (click)="onMenuLinkClicked(symptoms.id)" class="nav-link px-2 link-dark">Симптомы</a></li>
      <li><a href="#" id="stats" #stats (click)="onMenuLinkClicked(stats.id)" class="nav-link px-2 link-dark">Статистика</a></li>
      <li><a href="#" id="contact" #contact (click)="onMenuLinkClicked(contact.id)" class="nav-link px-2 link-dark">Свяжитесь с нами</a></li>
    </ul>

    <div class="col-md-3 text-end" *ngIf="isLogin">
      <span>{{user}}</span>
      <button class="btn btn-primary ms-2" (click) = 'logout()'>Выйти</button>
    </div>

    <div class="col-md-3 text-end" *ngIf="!isLogin">
      <a id="login" #login (click)="onMenuLinkClicked(login.id)" type="button" class="btn btn-outline-primary me-2">Вход</a>
      <a id="registration" #registration (click)="onMenuLinkClicked(registration.id)" type="button" class="btn btn-primary">Регистрация</a>
    </div>
  </header>
</div>
<ng-container id="placeholder" #placeholder></ng-container>
<ngx-spinner bdColor="white" size="large" color="red" type="ball-scale-multiple" [fullScreen]="true">
</ngx-spinner>
